<% # This is a form partial to reuse code for editing a todo item %>
<%= form_for @todo, url: update_path(@todo), method: :patch do |f| %>

    <p>
        <%= f.text_field :todo_item %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>