<h1>Edit your todo</h1>
<div class="well">
    <%# when form is submitted the update_path method will be called with todo object passed in %>
    <%= render 'form' %>

    <%= link_to '<button class="btn-danger">Back</button>'.html_safe, todos_index_path %>
</div>


