<div class="container">
    <div class="row">
        <div class="span4">
            <hr>
            <h1>ToDo</h1>

            <%= form_for @new_todo, :url => { :action => "add" }  do |f|  %>
                <%= f.text_field  :todo_item %>
                <%= f.submit "Add todo", class: "btn btn-primary" %>
                <%end%>

                <% if flash[:error] %>
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert" >×</button>
                        <strong><%= flash[:error] %></strong>
                    </div>
                <% end %>

                <% if flash[:success] %>
                    <div class="alert alert-success">
                        <%= flash[:success] %>
                    </div>
                <% end %>

                <h3>ToDo's List</h3>
                <div class="well">
                    <%= form_tag("/todos/complete/", :method => "post") do %>
                        <ul style="list-style-type:none;">
                            <% @todo_array.each do |t| %>
                                <% if t.completed == true %>
                                    <%# every checkbox has the same 'name' attribute. the value of each checkbox is t.id#%>
                                    <li style="color:grey;"> <%= check_box_tag  "todos_checkbox[]",t.id %>  <strike><%= t.todo_item %></strike></li>
                                <% else %>
                                    <li> <%= check_box_tag  "todos_checkbox[]",t.id %> <%= t.todo_item %>
                                        <%= link_to 'Edit', edit_path(t) %>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                        <%= submit_tag("Complete Todos", :class=>"btn btn-success") %>
                    <% end %>
                    <%= link_to '<button class="btn-danger">Delete last todo</button>'.html_safe, delete_path %>
                </div>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
    </div>
</div>
